.image-div {
    
    display: flex;
   place-self: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
}

#profile-img {
    border-radius: 50%;
    border: 7px solid white;
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s;
}

#profile-img:hover {
    transform: scale(1.05);
}

#home {
    text-align: center;
    max-width: 600px;
}

#typing-text {
    font-size: 2.5rem;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
}



.web-dev {
 color: orange;
    position: relative;
    display: inline-block;
    background: linear-gradient(45deg, orange, orangered, orange);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 2s linear infinite;
   
}



.scroll-eff {
    font-size: 2rem;
    color: white;
}

.scroll-eff>span {
    position: relative;
    display: inline-block;
    color: orange;
    height: 1.25em;
    vertical-align: bottom;
    overflow: hidden;
}

.scroll-eff>span>span {
    display: block;
    animation: animateWords 5s infinite ease;
}

/* Skills Section */
.tag-list {
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    position: relative;
    overflow: hidden;
    font-family: monospace;
}

.inner {
    display: flex;
    gap: 1rem;
    animation: loop 10s linear infinite;
}

.tag {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: white;
    font-size: 0.9rem;
    background-color: #334155;
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.2rem black, 0 0.1rem 0.5rem black;
}

.fade {
    position: absolute;
    background: linear-gradient(90deg, rgb(1, 1, 22), transparent 30%, transparent 70%, rgb(1, 1, 22));
    inset: 0;
    pointer-events: none;
}



@keyframes animateWords {
    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-200%);
    }

    75% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(-400%);
    }
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


@keyframes shine {
 0% { background-position: 0% 100%; }
    100% { background-position: 200% 0%; }
}


@media (max-width: 768px) {
    #typing-text {
        font-size: 1.5rem;

    }
}

@media (min-width: 1024px) {}