#portfolio h2 {
    color: orange;
    margin-bottom: 2rem;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    gap: 2rem;
}

.portfolio-item {
    width: 100%;
    max-width: 400px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem;
    transition: transform 0.3s;
}

.portfolio-item:hover {
    transform: translateY(-5px);
}

.portfolio-item h3 {
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}